#blue {
    background-color: blue;
    /* width: 100px;
    height: 100px; */
}

#red {
    background-color: red;
    /* width: 100px;
    height: 100px; */
}

.size {
    width: 100px;
    height: 100px;
}