#blue {
    background-color: blue;
    /* width: 100px;
    height: 100px; */
}

#red {
    background-color: red;
    /* width: 100px;
    height: 100px; */
}

.size {
    width: 100px;
    height: 100px;
}

.positioning { 
    background-color: lightgray;
}

#wrapper :nth-child(2) {
    background-color: white;
    border: 1px dotted;
    position: relative;
}

#white div {
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 2px;
}

#searchIcon img {
    width: 15px;
    top: 2px;
    left: 2px;
}

#searchIcon img, #searchIcon input {
    position: absolute;
}

#searchIcon {
    position: relative;
}



