#blue {
    background-color: blue;
    
}

#red {
    background-color: red;
    
}

.size {
    width: 100px;
    height: 100px;
}

.positioning { 
    background-color: lightgray;
}

#wrapper :nth-child(2) {
    background-color: white;
    border: 1px dotted;
    position: relative;
}

#white div {
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 2px;
}

#parent div {
    background-color: lightseagreen;
}

#parent {
    display: flex;
}

#parent :nth-last-child(2) {
    margin: 0 auto;
}

#parent div {
    border: 1px solid;
}

#window {
    width: 100px;
    
}

#slider {
    display: flex;
    overflow: hidden;  
    
}

#slider img {
    transform: translateX(0px);
    animation: move 3s infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-243px);
    }
}

